{% extends 'base/main.html' %}

{% block content %}
{% if page == 'login' %}
    <div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter your usernmae">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password">
            <input type="submit" value="Login">
        </form>
        <h4>Did not have an account ? <a href="{% url 'signup' %}">Sign up</a> </h4>
    </div>
{% else %}
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Register">
        </form>
        <h4>Already registered ? <a href="{% url 'login' %}">Login!</a></h4>
    </div>
{% endif %}
{% endblock %}